<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <form method="post" action="/signup">
    <div>
        <label>Full name</label>
            <div>
                <input type="fullname"  name="fullname" id="fullnameStr" required>
            </div>
        </div>
            <div>
        <label>Email address</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>
        <div>
            <label>Username</label>
            <div>
                <input type="username"  name="username" id="usernameStr" required>
            </div>
        </div>
        <div>
        <label>Password</label>
            <div>
                <input type="password"  name="password" id="passwordeStr" required>
            </div>
        </div>
            <div >
            <input class = "submit" type="submit"/>
        </div>
    </form>
</body>
</html>