a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid LightSteelBlue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: LightSteelBlue;
  color: white;
}
body {
    max-width: 500px;
  margin: auto;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid LightSteelBlue;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: LightSteelBlue;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}